
.content {
  align-items: center;
  display:flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  width: 100%;
}

.gameField {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#canvas-container {
  height: auto;
  /*width: calc(66.667% + 40px);*/
}

label {
  font-family: 'Bungee Inline', cursive;
}

#title-screen {
  height: 100%;
  width: 100%;
}

.first-player-scoreboard {
  color: #5A0202;
}

.second-player-scoreboard {
  color: #0D254B;
}

.scoreboard {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Bungee Inline', cursive;
  font-size: 40px;
  width: 15%;
  p {
  }
}

#message-field {
  font-family: 'Bungee Inline', cursive;
  font-size: 30px;
  margin-top: auto;

}

h1 {
  font-size: 5vmin;
  font-family: 'Bungee Inline', cursive;
  margin: 0;
}

#title-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

#title-screen h2 {
    font-family: 'Bungee Inline', cursive;
    font-size: 3vmin;
    margin-top: 20px;
}

#button-div {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.player-button {
  background-color: #000000;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Bungee Inline', cursive;
  font-size: 13px;
  margin: 20px 8px;
  padding: 10px;
  transition: .25s;
  transition-timing-function: cubic-bezier(.45,.49,.79,.72);
}

.player-button:hover {
  border-radius: 100%;
  margin: 8px;
  padding: 20px 10px;
}


#one-player-button:hover {
  background-color: #5A0202;
}
#two-player-button:hover {
  background-color: #0D254B;
}

#info-div {
  align-items: flex-start;
  bottom: 10px;
  display: flex;
  flex-direction:column;
  font-family: 'Bungee Inline', cursive;
  font-size: 14px;
  justify-content: center;
  left: 10px;
  position: absolute;

}
#links {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
#links a {
  margin: 0 12px;
}
