.content {
  align-items: center;
  display:flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  width: 100%;
}

.gameField {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 66.667%;
  width: 100%;
}

#canvas-container {
  height: auto;
  /*width: calc(66.667% + 40px);*/
}

#title-screen {
  height: 100%;
  width: 100%;
}

#player-1-score {
  color: #5A0202;
}

#player-2-score {
  color: #0D254B;
}

.scoreboard {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Bungee Inline', cursive;
  font-size: 40px;
  width: 15%;
  p {
  }
}

#message-field {
  font-family: 'Bungee Inline', cursive;
  font-size: 30px;

}

h1 {
  font-size: 5vmin;
  font-family: 'Bungee Inline', cursive;
  margin: 0;
}
